extends layout/layout.pug

block variables
  - pageTitle = 'Главная страница'
  - pageUrl = 'catalog.html'

block content
  main.page__content
    section.catalog
      .catalog__wrapper.container
        h1.catalog__title Каталог продукции
        ul.catalog__list
          each item in dataCatalog
            li.catalog__item.product
              a.product__link(href='#')
                +imgResponse(item.imgUrl, item.response).product__img(width=item.imgWidth, height=item.imgHeight, alt=item.title)
                h2.product__title #{item.title}
              dl.product__characteristics-list
                .product__characteristics-block
                  dt.product__characteristics-title Масса
                  dd.product__characteristics-desc #{item.weight} г
                .product__characteristics-block
                  dt.product__characteristics-title Вкус
                  dd.product__characteristics-desc #{item.taste}
                .product__characteristics-block
                  dt.product__characteristics-title Цена
                  dd.product__characteristics-desc #{item.price} ₽
              a.product__button.button(href='#') Заказать


