mixin imgResponse(src, response )
  - const srcParts = src.split('.')
  - const [srcFirstPart, extname] = srcParts
  - const path = './images/'
  - let type = extname

  if extname === 'jpg'
    - type = 'jpeg'
  if extname === 'svg'
    picture
      if response
        each item in response
          source(media=`(min-width:${item.minWidth}px)`, srcset=`${path + (item.src ? item.src : src)}`, width=item.width, height=item.height, type='image/svg+xml')
      img(src=`${path + src}`, width='', height='', alt='')&attributes(attributes)
  else
    picture
      if response
        each item in response
          source(media=`(min-width:${item.minWidth}px)`, srcset=`${path + srcFirstPart}-${item.prefix}@1x.webp 1x, ${path + srcFirstPart}-${item.prefix}@2x.webp 2x`, width=item.width, height=item.height, type='image/webp')
          source(media=`(min-width:${item.minWidth}px)`, srcset=`${path + srcFirstPart}-${item.prefix}@1x.${extname} 1x, ${path + srcFirstPart}-${item.prefix}@2x.${extname} 2x`, width=item.width, height=item.height, type=`image/${type}`)
      source(srcset=`${path + srcFirstPart}@1x.webp 1x, ${path + srcFirstPart}@2x.webp 2x`, type='image/webp')
      img(src=`${path + srcFirstPart}@1x.${extname}`, srcset=`${path + srcFirstPart}@2x.${extname} 2x`, width='', height='', alt='', loading='lazy')&attributes(
        attributes)
